{{ define "main" }}
{{ .Content }}

<div class="columns">
{{ range .Site.Sections.ByTitle.Reverse }}
	<div class="block">
	<h2>{{ .Title }}</h2>
	<p>{{ .Content }}</p>
	<table class="pages">
	<th></th>
	<th></th>
	{{ range .RegularPages }}
	<tr>
		<td>
			<a href="{{ .Permalink }}">
			{{ with .Params.icon }}<img src="/icons/{{ . }}"/>{{ end }}
			</a>
		</td>
		<td>
			<p><a href="{{ .Permalink }}">{{ .Title }}</a></br>
			{{ with .Params.description }}{{ . }}{{ end }}</p>
		</td>
	</tr>
	{{ end }}
</table>
	</div>
	<br/>
{{ end }}

</div>


{{ end }}
