:root {
	--bg: #eee;
	--fg: #222;
	--hl: lightgray;
	--ch: blue;
	--wrn: #f44;
}

@media (prefers-color-scheme: dark) {
	:root {
	--bg: #222;
	--fg: #eee;
	--hl: gray;
	--ch: lightblue;
	--wrn: #f44;
	}
}

body {
	background-color: var(--bg);
	color: var(--fg);
	width: 90%;
	max-width: 80em;
	margin: auto;
	text-align: justify;
	font-family: arial;
	font-size: 1.1em;
	overflow-wrap: break-word;
}

h1 {
	text-align: center;
}

a {
	color: var(--ch);
}

a:hover {
	color: var(--hl);
}

img {
	max-width: 100%;
	max-height: 35em;
	display: block;
	margin: auto;
}

blockquote {
	background: var(--wrn);
	padding: 0.1em 1em;
}

pre {
	padding: 0.5em 1em;
	white-space: pre-wrap;
	text-align: left;
	border: solid 2px var(--hl);
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

footer img {
	display: inline-block;
	height: 1.5em;
}

.pages {
	border-collapse: collapse;
}

.pages th, td {
	border-bottom: var(--fg) 1px solid;
	padding: 0.25em;
}

.pages img {
	max-height: 2em;
}
